* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IranSans';
    list-style: none;
}

:root {
    --primaryColor: rgb(109, 40, 217);
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 1.0rem;
    --mainTransition: all 0.3s linear;
    --mainRed: rgb(219, 39, 119);
    --bodyColor: #f6f6f6;
}

body {
    direction: rtl;
    background-color: var(--bodyColor);
    color: var(--mainBlack);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 40px 0;
    font-size: 80px;
}

main {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.add-task-container {
    width: 40rem;
    display: flex;
    flex-flow: row;
}

.form-container {
    width: 100%;
    margin-left: 100px;
}

.form-container form {
    display: flex;
}

.form-container form button,
.form-container form input {
    border: none;
    outline: none;
    background-color: var(--mainWhite);
    font-size: 20px;
    padding: 10px;
}

.form-container form input {
    width: 22.5rem;
    /* flex: 1; */
    border-right: 5px solid var(--primaryColor);
}

::placeholder {
    font-size: 20px;
}

.form-container form button {
    color: var(--primaryColor);
    cursor: pointer;
    transition: var(--mainTransition);
    width: 2.5rem;
}

.form-container form button:hover {
    background-color: var(--primaryColor);
    color: var(--mainWhite);
}

.todo-container {
    width: 40rem;
}

.todo {
    padding: 10px;
    margin: 10px 0;
    width: 25rem;
    display: flex;
    font-size: 18px;
    background-color: rgba(109, 40, 217, 0.1);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.todo-name {
    color: var(--primaryColor);
    font-weight: bold;
    flex: 1;
}

.check-icon {
    color: green;
    margin-left: 10px;
    cursor: pointer;
}

.delete-icon {
    color: red;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
    background-color: rgba(219, 39, 119, 0.3);
}

select {
    appearance: none;
    border: none;
    outline: none;
}

.todo-filter {
    font-size: 15px;
    padding: 12px;
    color: var(--primaryColor);
    border-left: 2px solid var(--primaryColor);
    width: 10rem;
    cursor: pointer;
}

.selection {
    position: relative;
}

.selection:after {
    content: "▼";
    position: absolute;
    top: 5px;
    left: 0;
    padding: 10px;
    color: var(--primaryColor);
}

/* .selection select {
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
} */